html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: none;
}

/* Page list */
#page-list {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
}

/* Page Styles */
.page {
    display: block;
    border: 2px solid #AAF;
    margin: 10px;
    background-image: url("page.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* Placeholder sizes */
    width: 768px;
    height: 1024px;
}

#toolbar {
    position: fixed;
    width: 250px;
    height: 50px;
    background-color: #000000AA;
    left: 50%;
    bottom: 25px;
    transform: translate(-125px, 0px)
}

@media screen and (min-width: 500px) {
    #toolbar {
        width: 350px;
        transform: translate(-175px, 0px)
    }
}

@media screen and (min-width: 900px) {
    #toolbar {
        width: 400px;
        transform: translate(-200px, 0px)
    }
}