/* Body */
html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-family: Raleway;
}

/* Page list */
#page-list {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
}

/* Page Styles */
.page {
    display: block;
    border: 2px solid #AAF;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    /* Placeholder sizes */
    width: 768px;
    height: 1024px;
}

/* Annotation canvas */
.page-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#toolbar {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #000000CC;
    left: 0px;
    top: 0px;
    padding: 0 25px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

#tools {
    max-width: 768px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.tool.active {
    color: #00AAFF;
}

.tool i {
    font-size: 30px !important;
    cursor: pointer;
}

.tool span {
    margin-top: 5px;
    font-size: x-small !important;
    cursor: pointer;
}

#load-page {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: white;
}

#input-page {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100vh;
    background-color: white;
}

#file-input-button {
    width: 300px !important;
    height: 50px !important;
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-150px, -15px);
    border-radius: 5px;
    background-color: #00AAFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0094df;
    cursor: pointer;
}

#loading-bar {
    width: 300px !important;
    height: 30px !important;
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-150px, -15px);
}

.ldBar-label {
    text-align: center;
}

#loading-bar path.mainline {
    stroke-width: 5;
    stroke: #09f;
    stroke-linecap: round;
}
#loading-bar path.baseline {
    stroke-width: 5;
    stroke: #f1f2f3;
    stroke-linecap: round;
}

#textarea {
    position: fixed;
    top: -100px;
}